    body{
    background-image: url('images/bg.jpg');
    margin: 0;
    font-family: 'Pacifico', cursive;
}
.top{
    background-color: rgb(3, 27, 39);
    overflow: hidden;
    border-radius: 15px;
}
.logo{
    height: 45px;
    padding-left: 7px;
}
.top a{
    float: right;
    padding: 14px 12px;
    text-decoration: none;
    border-radius: 15px;
    overflow: hidden;
    font-size: 20px;
    color: white;
}
.top a:hover{
    background-color: aquamarine;
    color: rgb(3, 27, 39);
    border-radius: 15px;
}
.top a.main{
    padding: 14px 0px 0px;
    margin-right:50%;
    font-size: 20px;
    margin-top: -56px;
    color: turquoise;
    overflow: hidden;
    margin-left: 40%;
    font-weight: bolder;
}
.top a.main:hover{
    background-color:  rgb(3, 27, 39);
}
.container h1{
    float: right;
    font-size: 15px;
    padding-right: 2px;
    color: whitesmoke;
}
#time-now{
    background-color: wheat;
    border-radius: 5px;
    color: black;
}
.Inbox{
    background-color: transparent;
    width: 470px;
    border: none;
    float: left;
    border-radius: 20px;
    padding: 10px;
    padding-left: 2px;
    margin: 30px; 
  }
  .Inbox img{
      width: 470px;
      height: 255px;
      border-radius: 20px;
  }
  .btn-enq{
    background-color:transparent;
    border-radius: 10px;
    color: white;
    margin-left: 5px;
    box-shadow: 0 2px grey;
    border: none;
    height: 40px;
  }
  .btn-enq:active {
    box-shadow: 0 4px #666;
    border: none;
    transform: translateY(2px);
  }
  .btn-enq:hover{
    background-color: aquamarine;
    color:  rgb(3, 27, 39);
  }
